.root {
    width: 100%;
    height: 100%;
}

.content-form {
    margin: 50px;

    display:flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid black;
}

label {
    margin-top: 10px;
}

label:first-child {
    margin-top: 0;
}

input {
    line-height: 1.2rem;
    padding: 5px;

    border: 1px solid rgba(34,36,38,.15);
    border-radius: 2px;
}

button {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;

    border: 1px solid rgba(18, 20, 22, 0.15);
    transition: 0.3s;

    font-weight: 600;
}

button:hover {
    border: 1px solid black;
}

/*

    #######################################################

    STYLING OF THE COMPLETED CV VISUALS.

    #######################################################

*/

.cv-container {
    margin: 50px;

    background-color: gray;

    display: flex;
}

.left-side {
    background-color: lightblue;
    height: 500px;

    order: 0;
    flex-shrink: 2;

    word-wrap: break-word;
}

.right-side {
    background-color: lightpink;
    height: 500px;

    order: 1;
    flex-grow: 2;
}

.personal-info {
    padding-left: 10px;
    padding-right: 10px;

    font-weight: 600;
    font-size: 0.9rem;
}

h3{
    padding-left: 10px;
    padding-right: 10px;

    font-size: 1.8rem;
}

.icon {
    margin-top: 2rem;
    padding-right: 10px;
}