.general-info {
    display: flex;
    flex-direction: column;

    width: 25rem;
}

.educational-info {
    display: flex;
    flex-direction: column;

    width: 25rem;
}

.practical-info {
    display: flex;
    flex-direction: column;

    width: 25rem;
}

span {
    margin-left: 10px;

    transition: 0.3s;
}

span:hover {
    cursor: pointer;
    color: red;
}