.general-info {
    display: flex;
    flex-direction: column;

    width: 25rem;
}

.educational-info {
    display: flex;
    flex-direction: column;

    position: relative;
}

.practical-info {
    display: flex;
    flex-direction: column;

    position: relative;
}

.list-delete {
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    margin: 5px;
}

.delete {
    position: absolute;
    right: 20px;

    transition: 0.3s;

    box-shadow: 1px black;
}

.delete:hover {
    cursor: pointer;
    color: red;
}